.page-footer
  .row
    .col-xs-12.col-sm-6
      %span.txt-color.txt-color-white 邻家田订单管理系统 © 2014
    .col-xs-12.col-sm-6.text-right.hidden-xs
      .txt-color.txt-color-white.inline-block
        .txt-color.txt-color-blueLight.hidden-mobile
          状态栏